apiVersion: v1
kind: Service
metadata:
    name: {{ calico_vars.kubernetes.felix_metrics.name }}
    namespace: calico-system
    labels:
        k8s-app: calico-felix-metrics
spec:
    clusterIP: None
    selector:
        k8s-app: calico-node
    ports:
    - port: {{ calico_vars.kubernetes.felix_metrics.ports.port }}
      targetPort: {{ calico_vars.kubernetes.felix_metrics.ports.target }}
