apiVersion: v1
kind: Service
metadata:
    name: {{ calico_vars.kubernetes.typha_metrics.name }}
    namespace: {{ calico_vars.kubernetes.typha_metrics.namespace }}
spec:
    clusterIP: None
    selector:
        k8s-app: calico-typha
    ports:
    - port: {{ calico_vars.kubernetes.typha_metrics.ports.port }}
      targetPort: {{ calico_vars.kubernetes.typha_metrics.ports.target }}