apiVersion: v1
kind: Secret
metadata:
    name: bitnami-oci
    namespace: argocd
    labels:
        argocd.argoproj.io/secret-type: repository
stringData:
    url: registry-1.docker.io/bitnamicharts
    enableOCI: "true"
    type: helm
    username: {{ docker_username }}
    password: {{ docker_password }}