name: Tagging workflow

on: 
  push:
    branches:
      - main
  workflow_run:
    workflows:
      - CI Workflow
    types:
      - completed

permissions:
  contents: write

jobs:
  path-filter:
    runs-on: ubuntu-latest
    outputs:
        frontend: ${{ steps.changes.outputs.frontend }}
        insights_api: ${{ steps.changes.outputs.insights_api }}
        data_ingestion: ${{ steps.changes.outputs.data_ingestion }}
        llm_summary: ${{ steps.changes.outputs.llm_summary }}
        ranking_calculator: ${{ steps.changes.outputs.ranking_calculator }}
        sentiment_analysis: ${{ steps.changes.outputs.sentiment_analysis }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            frontend:
              - 'frontend/**'
            insights_api:
              - 'backend/insights_api/**'
            data_ingestion:
              - 'backend/data_pipeline/ingestion/**'
            llm_summary:
              - 'backend/data_pipeline/llm_summary/**'
            ranking_calculator:
              - 'backend/data_pipeline/ranking_calculator/**'
            sentiment_analysis:
              - 'backend/data_processing/sentiment_analysis/**'

  tag-frontend:
    needs: path-filter
    if: ${{ needs.path-filter.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # gives it full history of commits to find the last tag
        
      - name: Bump Frontend version
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 1.0.0
          TAG_PREFIX: frontend-
  
  tag-insights-api:
    needs: path-filter
    if: ${{ needs.path-filter.outputs.insights_api == 'true' }}
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # gives it full history of commits to find the last tag
        
      - name: Bump Insights Api version
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 1.0.0
          TAG_PREFIX: insights_api-

  tag-data-ingestion:
    needs: path-filter
    if: ${{ needs.path-filter.outputs.data_ingestion == 'true' }}
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # gives it full history of commits to find the last tag
        
      - name: Bump Insights Api version
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 1.0.0
          TAG_PREFIX: data_ingestion-
    
  tag-llm-summary:
    needs: path-filter
    if: ${{ needs.path-filter.outputs.llm_summary == 'true' }}
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # gives it full history of commits to find the last tag
        
      - name: Bump Insights Api version
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 1.0.0
          TAG_PREFIX: llm_summary-
    
  tag-ranking-calculator:
    needs: path-filter
    if: ${{ needs.path-filter.outputs.ranking_calculator == 'true' }}
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # gives it full history of commits to find the last tag
        
      - name: Bump Insights Api version
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 1.0.0
          TAG_PREFIX: ranking_calculator-

  tag-sentiment-analysis:
    needs: path-filter
    if: ${{ needs.path-filter.outputs.sentiment_analysis == 'true' }}
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.tag_version.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # gives it full history of commits to find the last tag
        
      - name: Bump Insights Api version
        id: tag_version
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch
          INITIAL_VERSION: 1.0.0
          TAG_PREFIX: sentiment_analysis-

