name: Update kubernetes repo manifest to trigger argocd redeploy

on:
  workflow_dispatch:
    inputs:
      service:
        description: 'Service to deploy'
        required: true
        type: string
      version:
        description: 'Version tag (e.g., frontend-1.0.1)'
        required: true
        type: string

permissions:
  packages: write
  contents: read

jobs:
  update-service-kustomize-and-commit-to-repo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout kubernetes-cluster repo                                                                                         
        uses: actions/checkout@v4                                                                                                      
        with:                                                                                                                          
          repository: vchen7629/kubernetes-cluster                                                                                     
          token: ${{ secrets.CI_CD_PAT }}                                                                                              
                                                                                                                                         
      - name: Update frontend image tag in kustomization
        if: inputs.service == 'frontend'                                                                                         
        run: |                                                                                                                         
          cd manifests/tenants/cyphria/${{ inputs.service }}                                                            
          sed -i "s|newTag:.*|newTag: ${{ inputs.version }}|" kustomization.yaml
      
      - name: Update insights api image tag in kustomization
        if: inputs.service == 'insights_api'                                                                                         
        run: |                                                                                                                         
          cd manifests/tenants/cyphria/${{ inputs.service }}/                                                            
          sed -i "s|newTag:.*|newTag: ${{ inputs.version }}|" kustomization.yaml

      - name: Update data pipeline services image tag in kustomization
        if: inputs.service != 'insights_api' && inputs.service != 'frontend'                                                                                         
        run: |                                                                                                                         
          cd manifests/tenants/cyphria/data_pipeline_${{ inputs.service }}/                                                            
          sed -i "s|newTag:.*|newTag: ${{ inputs.version }}|" kustomization.yaml

      - name: Commit and push frontend changes
        if: inputs.service == 'frontend'                                                                                                                                                                                          
        run: |                                                                                                                         
          cd .                                                                                                             
          git config user.name "github-actions[bot]"                                                                                   
          git config user.email "github-actions[bot]@users.noreply.github.com"                                                         
          git add manifests/tenants/cyphria/frontend/kustomization.yaml                                                   
          git commit -m "chore: update frontend to ${{ inputs.version }}"                                                 
          git push 
      
      - name: Commit and push insights-api changes
        if: inputs.service == 'insights_api'                                                                                         
        run: |                                                                                                                         
          cd .                                                                                                            
          git config user.name "github-actions[bot]"                                                                                   
          git config user.email "github-actions[bot]@users.noreply.github.com"                                                         
          git add manifests/tenants/cyphria/${{ inputs.service }}/kustomization.yaml                                                   
          git commit -m "chore: update ${{ inputs.service }} to ${{ inputs.version }}"                                                 
          git push 
      
      - name: Commit and push data pipeline changes
        if: inputs.service != 'insights_api' && inputs.service != 'frontend'                                                                                         
        run: |                                                                                                                         
          cd .                                                                                                            
          git config user.name "github-actions[bot]"                                                                                   
          git config user.email "github-actions[bot]@users.noreply.github.com"                                                         
          git add manifests/tenants/cyphria/data_pipeline_${{ inputs.service }}_service/kustomization.yaml                                                   
          git commit -m "chore: update ${{ inputs.service }} to ${{ inputs.version }}"                                                 
          git push 