apiVersion: v1
kind: Secret
metadata:
  name: postgres-creds
  namespace: loginapi
type: Opaque
stringData:
  PG_HOST:    "{{ pg_svc_host }}"
  PG_PORT:    "{{ pg_svc_port }}"
  PG_USER:    "{{ pg_svc_user }}"
  PG_PASS:    "{{ pg_svc_pass }}"
  PG_DB:      "{{ pg_svc_db }}"
  PG_SSLMODE: "{{ pg_ssl_mode }}"