apiVersion: v1
kind: Secret
metadata:
  name: redis-creds
  namespace: backend
type: Opaque
stringData:
  Redis_Addr:       "{{ redis_addr }}"
  Redis_DB:         "{{ redis_db }}"
  Redis_Password:   "{{ redis_pass }}"